.borderEffect {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #f09,
        0 0 0.8rem #f09,
        0 0 2.8rem #f09,
        inset 0 0 1.3rem #f09;
}

.borderEffect2 {
    border: 0.2rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #0073e6,
        0 0 0.8rem #0073e6,
        0 0 2.8rem #0073e6,
        inset 0 0 1.3rem #0073e6;
}

.neonTextGlow {
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
}

.neonTextFlicker {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}

/* Flickering animation */
@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #fff,
            0 0 80px #fff,
            0 0 90px #fff,
            0 0 100px #fff,
            0 0 150px #fff;

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}