.work {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work .container .subtitle {
    margin: 120px 0 100px 0;
}

.work .card-container .card {
    max-width: 26rem;
    background: #00b5cc;
    margin: 0.75rem;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 0.75em #00b5cc;
}

.work .card-container .card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.work .card-container .card .card-body {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background: #141516;
    color: #fff;
    border-color: #00b5cc;
    box-shadow: 0 0 0.75em #00b5cc;
}

.work .card-container .card .card-body a {
    margin: 0 0 5px 0;
    background: #141516;
    color: #fff;
    border-color: #00b5cc;
    box-shadow: 0 0 0.75em #00b5cc;
}

.work .card-container .card .card-body a:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

.work .card-container .card img:hover+.hide {
    display: block;
}

.work .card-container .card .card-body:hover {
    display: block;
}